<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>


<body>
<div class="table-responsive-sm">
<table class="table table-striped ">
<caption>Example Table Caption</caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col", class="table-active">TIMESTAMP</th>
      <th scope="col",>TIME</th>
      <th scope="col", class="table-active">SPEED</th>
      
      <th scope="col", >TEMPRATURE</th>
      <th scope="col", class="table-active">VOLTAGE</th>
      <th scope="col", class="table-active"></th>
    </tr>
  </thead>
  <tbody>
   {% for d in data %}
    <tr>
      {% comment %} <th scope="row">1</th> {% endcomment %}
      <td></td>
      <td></td>
      <td>{{d.0}}</td>
      {% comment %} <td>{{d.1}}</td> {% endcomment %}
      <td>{{d.2}}</td>
      <td>{{d.3}}</td>
      <td>{{d.1}}</td>
      <td>{{d.4}}</td> 
      <td>{{d.5}}</td>
       <td>{{d.VOLTAGE}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>